/*
==================================================
BLOCKS
==================================================
*/

.ls-block { 
    margin: -2px 0px -2px 1px !important; 
    padding: 4px 1px !important;
}

/*
==================================================
BLOCK PROPERTIES
==================================================
*/

.blocks-properties {
    background-color: var(--ls-block-properties-background-color);
    border-radius: var(--ls-border-radius-low);
    opacity: 1;
}

.blocks-properties .my-1 b {
    border-radius: var(--ls-border-radius-low);
    color: var(--text-accent);
    font-weight: 500;
}

/*
==================================================
BLOCK EDITOR HIGHLIGHT
==================================================
*/

.editor-inner {
    background-color: var(--ls-tertiary-background-color);
    border-radius: var(--ls-border-radius-low);
    padding: 3px 5px;
}
