/*
==================================================
PAGES
==================================================
*/

.page-reference {
    &:hover {
        background: transparent;
    }

    .bracket {
        color: var(--ls-border-color);
        opacity: 0.8;
    }
}
