/* TODO: Remove direct references to color variables */
html,
body {
    background-color: var(--ls-primary-background-color);
    font-size: var(--ls-page-text-size);
    font-weight: var(--ls-font-weight);
    letter-spacing: var(--ls-font-letter-spacing);
    line-height: var(--ls-font-line-height);
}

/*
==================================================
TEXT FORMATTING
==================================================
*/

i {
    color: var(--ls-italic-text-color);
}

b {
    color: var(--orange);
}

/* Highlighted */
mark {
    background-color: var(--ls-highlight-text-color);
}

/*
==================================================
FIX INPUT TEXT COLOR
==================================================
TODO: This is broken on light theme
*/

.ui__modal input[type="text"],
input.form-input {
    color: var(--ls-primary-text-color) !important;
}

/*
==================================================
BACKGROUND COLORS
==================================================
*/

.bg-orange-400 {
    background-color: var(--orange);
}

.bg-green-600 {
    background-color: var(--green);
}

.bg-red-500 {
    background-color: var(--red);
}

/*
==================================================
SEARCH FIELD
==================================================
*/

// #search-field,
// #search-field:focus {
//     background-color: var(--ls-secondary-background-color);
// }
