/*
==================================================
EXTERNAL LINKS
==================================================
*/

$link-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGDSURBVHgBtZaNcYMwDIUfGzgbqBuUDcwkaTdoJ4AN0gmaTNJu0GyQdILSCUjRIa6yMT+x4d29O7CNPmMLmQzryYhZ39hIDChbX1vflPn+2JqwoigA8t20fsEKogCslrZ6C6iG/UhAo/qLwBhCpCzc2T+OjNu1PquxB0TqpIK8e33k3Rdw3zJKnyqIVe2VtF1UW4b/PW0QuawaaDyYH5iBVyQCSQA2ALvJPRRQT8QgUdUEjPWs+r6QqHIGlsPdv/1UMIuuNJ3Fh4UwI8+WcAvAZQxEcJNCm2ZgOYZVpodRCPaAYblqxP0MK4wv42sA9oGJzPRLEQez8oDBfILwhHl1eAuOcL/RgZ48mF+uqhnY3dI1b781zHgBl8AKuSZEiOCe1KF2P/V1UiQBa6+Ps7OBu4w2FQi4308RmJDWCePH02K9qSCcQLuRcTncZbaIFKH7HPRe8ptmYp4A/0bUCO93lDhgg2U/RqPlag3o4toYK0JXmvoM1fW0QuIhmmEezvoVJ+sPourrpWEel2gAAAAASUVORK5CYII=");

.external-link { 
  border-bottom: none;
  color: var(--ls-external-link-color);
  text-decoration: none;
}

.external-link:after {
  background-color: var(--ls-external-link-color);
  bottom: -2px;
  content: '';
  display: inline-block;
  height: 14px;
  left: -1px;
  margin: 0 1px 0 5px;
  mask-image: $link-icon;
  mask-mode: alpha;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 14px 14px;
  object-fit: cover;
  position: relative;
  transition: .3s;
  width: 14px;
}

.external-link:hover {
  color: var(--ls-external-link-hover-color);
}

.external-link:hover:after {
  background-color: var(--ls-external-link-hover-color);
}
